Package: serna-apt-extra
Version: 0.0.2
Architecture: darwin-amd64
Priority: optional
Section: Addons
Maintainer: Diego Magdaleno
Installed-Size: 332
Depends: apt
Homepage: https://sernarepo.com
Description: Additional tools for MacPT/Project Serna, that provide essential CLI features.

